{% extends 'layout.html.twig' %}

{% block content %}
{% for results in result %}
    <a href="/profile/index/{{ results.id }}"><img src="{{ results.avatar }}" class="img-profile" alt="avatar"></a>
    <h1 class="name-profile">{{ results.firstname }}</h1>
    <a href="/profile/deleteFriend/{{ results.id }}" class="btn-delete" role="button" aria-pressed="true">Delete Friend</a>
    {% endfor %}
{% endblock %}