/*Header*/
nav{
    height:150px;
    margin-bottom: 50px;
}
nav .container{
    background-image:url("../images/8d6b26788e25b7e0e404b5585cd09438.gif");
    height: 100%;
    border-radius: 10px;
}
nav .container .row .col-2 {
    text-align: center;
    padding:10px;
}
nav .container .row .col-2 a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
nav .container .row .col-4 h1{
    color:white;
}
/*footer*/
footer{
    height: 150px;
    
    
}
footer .container{
    background-image:url("../images/8d6b26788e25b7e0e404b5585cd09438.gif");
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 50px;
    border-radius: 10px;
}
footer .container .row {
    height: 50px;
}
footer .container .row .col-2 a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
