body{
    margin: 0;
    padding-top: 150px;
}
/*Header*/
.navbar, .fixed-top, .navbar-expand-lg, .navbar-light, .bg-light{
    width: 100%;
    background: linear-gradient(#FF504A, #FF8956);
}

.nav-link{
    font-family: 'Press Start 2P', cursive;
    margin-left: 40px;
    text-decoration: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#1A171F), to(#262278));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.navbar-brand {
    padding-right: 10px;
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#045FB4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*footer*/
footer{
    margin-top: 10%;
    bottom: 0;
    width: 100%;
}

footer .nav, .fixed-bottom, .justify-content-center{
    background: linear-gradient(#FF504A, #FF8956);
    padding-top: 20px;
    text-align: center;
}

.copyright {
    display: flex;
    padding-top: 9px;
}
footer .nav-link{
    margin-left: 0;
}

/*logo nav*/
.logo{
    width: 50px;
    padding-bottom: 20px;
}

/*home page*/
.container{
    margin: 0 auto;
}

.bio{
    display: flex;
    justify-content: space-between;
    line-height:30px;
    text-align: justify;
}

.text{
    margin-right: 12%;
}

.text h2{
    font-family: 'Press Start 2P', cursive;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
}

.img{
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius: 150px;
    width:300px;
    height:300px;
}

.button{
    font-family: 'Press Start 2P', cursive;
    padding: 5px;
    background: linear-gradient(#FF504A, #FF8956);
    margin-top: 10%;
    font-size: 15px;
    margin-left: 10%;
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px
    rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
}
.button a{
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#045FB4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}


